.brand{
    display: flex;
    justify-content: center;
    background-color: #E0E0E0;
    margin-top: 50px;
    padding-top: 40px;
    padding-bottom: 30px;
}
.swiperWrap{
width: 1500px;
height: 110px;
}
.pagination{
    height: 40px;
}
.slideWrap{
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 1440px){
    .swiperWrap{
        width: 1200px;
        height: 110px;
        }
}
@media only screen and (max-width: 1024px){
    .swiperWrap{
        width: 900px;
        }
}